/* Estilos para la tabla de productos */

/* Colapsa los bordes de las celdas y establece el ancho de la tabla al 100% */
table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

/* Establece los bordes y el relleno para las celdas y centra el contenido */
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

/* Establece el peso de la fuente a negrita para los encabezados de columna */
th {
  font-weight: bold;
}

/* Estilos para los botones */

/* Establece los estilos de los botones */
.boton {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #1d825f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Cambia el color de fondo del botón cuando se pasa el cursor sobre él */
.boton:hover {
  background-color: #136340;
}

/* Establece el estilo de los botones de "Editar" */
.boton.editar {
  background-color: #2573c6;
}

/* Cambia el color de fondo del botón de "Editar" cuando se pasa el cursor sobre él */
.boton.editar:hover {
  background-color: #1e5aac;
}

/* Establece el estilo de los botones de "Eliminar" */
.boton.eliminar {
  background-color: #dc3645;
}

/* Cambia el color de fondo del botón de "Eliminar" cuando se pasa el cursor sobre él */
.boton.eliminar:hover {
  background-color: #b02535;
}

form {
  max-width: 500px;
  margin: 0;
  border: 0px solid #ccc;
  padding: 20px;
}

fieldset {
  display: inline-block;
  margin: auto;
  width: fit-content;
}

.centerbody {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
}

h1 {
  margin-top: 0;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}

input[type="text"],
select {
  width: 200px;
  margin-bottom: 10px;
}

.estado-label {
  font-size: 0.8em;
  margin-left: 5px;
}